*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 900px;
    margin :0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 90px;
    background-color: antiquewhite;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1,1, 01);
    border-radius: 10px;
}
body{
    background-color: aquamarine;
}
.form_control{
    display: flex;
   flex-direction: column;
   margin-bottom: 5px;
   margin-top: 7px;
}
label{
    font-size: 30px;
}

.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.small{
    font-size: 20px;
}
input,
select,
textarea{
    padding: 7px 10px;
    border: 1px solid red;
    font-size: 10px;
}
button{
    background-color: blue;
    padding: 20px;
    margin-left: 180px;
    margin-top: 20px;
    padding-left:13px ;
}